// main: app.scss
.has-error {
	[type="color"], [type="date"], [type="datetime-local"], [type="datetime"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], textarea, label, .help-text {
		border-color: $alert-color;
		color: $alert-color;
	}

	label {
		font-weight: bold;
	}
}