/** Foundation for Sites by ZURB Version 6.2.3 foundation.zurb.com Licensed under MIT Open Source */
.button { display: inline-block; text-align: center; line-height: 1; cursor: pointer; -webkit-appearance: none; transition: background-color 0.25s ease-out, color 0.25s ease-out; vertical-align: middle; border: 1px solid transparent; border-radius: 0; padding: 0.85em 1em; margin: 0 0 1rem 0; font-size: 0.9rem; background-color: #2199e8; color: #fefefe; }

[data-whatinput='mouse'] .button { outline: 0; }

.button:hover, .button:focus { background-color: #1583cc; color: #fefefe; }

.button.tiny { font-size: 0.6rem; }

.button.small { font-size: 0.75rem; }

.button.large { font-size: 1.25rem; }

.button.expanded { display: block; width: 100%; margin-left: 0; margin-right: 0; }

.button.primary { background-color: #2199e8; color: #fefefe; }

.button.primary:hover, .button.primary:focus { background-color: #147cc0; color: #fefefe; }

.button.secondary { background-color: #777; color: #fefefe; }

.button.secondary:hover, .button.secondary:focus { background-color: #5f5f5f; color: #fefefe; }

.button.success { background-color: #3adb76; color: #fefefe; }

.button.success:hover, .button.success:focus { background-color: #22bb5b; color: #fefefe; }

.button.warning { background-color: #ffae00; color: #fefefe; }

.button.warning:hover, .button.warning:focus { background-color: #cc8b00; color: #fefefe; }

.button.alert { background-color: #ec5840; color: #fefefe; }

.button.alert:hover, .button.alert:focus { background-color: #da3116; color: #fefefe; }

.button.hollow { border: 1px solid #2199e8; color: #2199e8; }

.button.hollow, .button.hollow:hover, .button.hollow:focus { background-color: transparent; }

.button.hollow:hover, .button.hollow:focus { border-color: #0c4d78; color: #0c4d78; }

.button.hollow.primary { border: 1px solid #2199e8; color: #2199e8; }

.button.hollow.primary:hover, .button.hollow.primary:focus { border-color: #0c4d78; color: #0c4d78; }

.button.hollow.secondary { border: 1px solid #777; color: #777; }

.button.hollow.secondary:hover, .button.hollow.secondary:focus { border-color: #3c3c3c; color: #3c3c3c; }

.button.hollow.success { border: 1px solid #3adb76; color: #3adb76; }

.button.hollow.success:hover, .button.hollow.success:focus { border-color: #157539; color: #157539; }

.button.hollow.warning { border: 1px solid #ffae00; color: #ffae00; }

.button.hollow.warning:hover, .button.hollow.warning:focus { border-color: #805700; color: #805700; }

.button.hollow.alert { border: 1px solid #ec5840; color: #ec5840; }

.button.hollow.alert:hover, .button.hollow.alert:focus { border-color: #881f0e; color: #881f0e; }

.button.disabled, .button[disabled] { opacity: 0.25; cursor: not-allowed; }

.button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus { background-color: #2199e8; color: #fefefe; }

.button.dropdown::after { content: ''; display: block; width: 0; height: 0; border: inset 0.4em; border-color: #fefefe transparent transparent; border-top-style: solid; border-bottom-width: 0; position: relative; top: 0.4em; float: right; margin-left: 1em; display: inline-block; }

.button.arrow-only::after { margin-left: 0; float: none; top: -0.1em; }

.callout { margin: 0 0 1rem 0; padding: 1rem; border: 1px solid rgba(10, 10, 10, 0.25); border-radius: 0; position: relative; color: #0a0a0a; background-color: white; }

.callout > :first-child { margin-top: 0; }

.callout > :last-child { margin-bottom: 0; }

.callout.primary { background-color: #def0fc; }

.callout.secondary { background-color: #ebebeb; }

.callout.success { background-color: #e1faea; }

.callout.warning { background-color: #fff3d9; }

.callout.alert { background-color: #fce6e2; }

.callout.small { padding-top: 0.5rem; padding-right: 0.5rem; padding-bottom: 0.5rem; padding-left: 0.5rem; }

.callout.large { padding-top: 3rem; padding-right: 3rem; padding-bottom: 3rem; padding-left: 3rem; }

.close-button { position: absolute; color: #8a8a8a; right: 1rem; top: 0.5rem; font-size: 2em; line-height: 1; cursor: pointer; }

[data-whatinput='mouse'] .close-button { outline: 0; }

.close-button:hover, .close-button:focus { color: #0a0a0a; }

.dropdown-pane { background-color: #fefefe; border: 1px solid #cacaca; border-radius: 0; display: block; font-size: 1rem; padding: 1rem; position: absolute; visibility: hidden; width: 300px; z-index: 10; }

.dropdown-pane.is-open { visibility: visible; }

.dropdown-pane.tiny { width: 100px; }

.dropdown-pane.small { width: 200px; }

.dropdown-pane.large { width: 400px; }

.dropdown.menu > li.opens-left > .is-dropdown-submenu { left: auto; right: 0; top: 100%; }

.dropdown.menu > li.opens-right > .is-dropdown-submenu { right: auto; left: 0; top: 100%; }

.dropdown.menu > li.is-dropdown-submenu-parent > a { padding-right: 1.5rem; position: relative; }

.dropdown.menu > li.is-dropdown-submenu-parent > a::after { content: ''; display: block; width: 0; height: 0; border: inset 5px; border-color: #2199e8 transparent transparent; border-top-style: solid; border-bottom-width: 0; right: 5px; margin-top: -2px; }

[data-whatinput='mouse'] .dropdown.menu a { outline: 0; }

.no-js .dropdown.menu ul { display: none; }

.dropdown.menu.vertical > li .is-dropdown-submenu { top: 0; }

.dropdown.menu.vertical > li.opens-left > .is-dropdown-submenu { left: auto; right: 100%; }

.dropdown.menu.vertical > li.opens-right > .is-dropdown-submenu { right: auto; left: 100%; }

.dropdown.menu.vertical > li > a::after { right: 14px; margin-top: -3px; }

.dropdown.menu.vertical > li.opens-left > a::after { content: ''; display: block; width: 0; height: 0; border: inset 5px; border-color: transparent #2199e8 transparent transparent; border-right-style: solid; border-left-width: 0; }

.dropdown.menu.vertical > li.opens-right > a::after { content: ''; display: block; width: 0; height: 0; border: inset 5px; border-color: transparent transparent transparent #2199e8; border-left-style: solid; border-right-width: 0; }

@media screen and (min-width: 40em) { .dropdown.menu.medium-horizontal > li.opens-left > .is-dropdown-submenu { left: auto; right: 0; top: 100%; }
		.dropdown.menu.medium-horizontal > li.opens-right > .is-dropdown-submenu { right: auto; left: 0; top: 100%; }
		.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a { padding-right: 1.5rem; position: relative; }
		.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after { content: ''; display: block; width: 0; height: 0; border: inset 5px; border-color: #2199e8 transparent transparent; border-top-style: solid; border-bottom-width: 0; right: 5px; margin-top: -2px; }
		.dropdown.menu.medium-vertical > li .is-dropdown-submenu { top: 0; }
		.dropdown.menu.medium-vertical > li.opens-left > .is-dropdown-submenu { left: auto; right: 100%; }
		.dropdown.menu.medium-vertical > li.opens-right > .is-dropdown-submenu { right: auto; left: 100%; }
		.dropdown.menu.medium-vertical > li > a::after { right: 14px; margin-top: -3px; }
		.dropdown.menu.medium-vertical > li.opens-left > a::after { content: ''; display: block; width: 0; height: 0; border: inset 5px; border-color: transparent #2199e8 transparent transparent; border-right-style: solid; border-left-width: 0; }
		.dropdown.menu.medium-vertical > li.opens-right > a::after { content: ''; display: block; width: 0; height: 0; border: inset 5px; border-color: transparent transparent transparent #2199e8; border-left-style: solid; border-right-width: 0; } }

@media screen and (min-width: 64em) { .dropdown.menu.large-horizontal > li.opens-left > .is-dropdown-submenu { left: auto; right: 0; top: 100%; }
		.dropdown.menu.large-horizontal > li.opens-right > .is-dropdown-submenu { right: auto; left: 0; top: 100%; }
		.dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a { padding-right: 1.5rem; position: relative; }
		.dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a::after { content: ''; display: block; width: 0; height: 0; border: inset 5px; border-color: #2199e8 transparent transparent; border-top-style: solid; border-bottom-width: 0; right: 5px; margin-top: -2px; }
		.dropdown.menu.large-vertical > li .is-dropdown-submenu { top: 0; }
		.dropdown.menu.large-vertical > li.opens-left > .is-dropdown-submenu { left: auto; right: 100%; }
		.dropdown.menu.large-vertical > li.opens-right > .is-dropdown-submenu { right: auto; left: 100%; }
		.dropdown.menu.large-vertical > li > a::after { right: 14px; margin-top: -3px; }
		.dropdown.menu.large-vertical > li.opens-left > a::after { content: ''; display: block; width: 0; height: 0; border: inset 5px; border-color: transparent #2199e8 transparent transparent; border-right-style: solid; border-left-width: 0; }
		.dropdown.menu.large-vertical > li.opens-right > a::after { content: ''; display: block; width: 0; height: 0; border: inset 5px; border-color: transparent transparent transparent #2199e8; border-left-style: solid; border-right-width: 0; } }

.dropdown.menu.align-right .is-dropdown-submenu.first-sub { top: 100%; left: auto; right: 0; }

.is-dropdown-menu.vertical { width: 100px; }

.is-dropdown-menu.vertical.align-right { float: right; }

.is-dropdown-submenu-parent { position: relative; }

.is-dropdown-submenu-parent a::after { position: absolute; top: 50%; right: 5px; margin-top: -2px; }

.is-dropdown-submenu-parent.opens-inner > .is-dropdown-submenu { top: 100%; left: auto; }

.is-dropdown-submenu-parent.opens-left > .is-dropdown-submenu { left: auto; right: 100%; }

.is-dropdown-submenu-parent.opens-right > .is-dropdown-submenu { right: auto; left: 100%; }

.is-dropdown-submenu { display: none; position: absolute; top: 0; left: 100%; min-width: 200px; z-index: 1; background: #fefefe; border: 1px solid #cacaca; }

.is-dropdown-submenu .is-dropdown-submenu-parent > a::after { right: 14px; margin-top: -3px; }

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a::after { content: ''; display: block; width: 0; height: 0; border: inset 5px; border-color: transparent #2199e8 transparent transparent; border-right-style: solid; border-left-width: 0; }

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after { content: ''; display: block; width: 0; height: 0; border: inset 5px; border-color: transparent transparent transparent #2199e8; border-left-style: solid; border-right-width: 0; }

.is-dropdown-submenu .is-dropdown-submenu { margin-top: -1px; }

.is-dropdown-submenu > li { width: 100%; }

.is-dropdown-submenu.js-dropdown-active { display: block; }

.float-left { float: left !important; }

.float-right { float: right !important; }

.float-center { display: block; margin-left: auto; margin-right: auto; }

.clearfix::before, .clearfix::after { content: ' '; display: table; }

.clearfix::after { clear: both; }

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea { display: block; box-sizing: border-box; width: 100%; height: 2.4375rem; padding: 0.5rem; border: 1px solid #cacaca; margin: 0 0 1rem; font-family: inherit; font-size: 1rem; color: #0a0a0a; background-color: #fefefe; box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1); border-radius: 0; transition: box-shadow 0.5s, border-color 0.25s ease-in-out; -webkit-appearance: none; -moz-appearance: none; }

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus { border: 1px solid #8a8a8a; background-color: #fefefe; outline: none; box-shadow: 0 0 5px #cacaca; transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }

textarea { max-width: 100%; }

textarea[rows] { height: auto; }

input::placeholder, textarea::placeholder { color: #cacaca; }

input:disabled, input[readonly], textarea:disabled, textarea[readonly] { background-color: #e6e6e6; cursor: not-allowed; }

[type='submit'], [type='button'] { border-radius: 0; -webkit-appearance: none; -moz-appearance: none; }

input[type='search'] { box-sizing: border-box; }

[type='file'], [type='checkbox'], [type='radio'] { margin: 0 0 1rem; }

[type='checkbox'] + label, [type='radio'] + label { display: inline-block; margin-left: 0.5rem; margin-right: 1rem; margin-bottom: 0; vertical-align: baseline; }

[type='checkbox'] + label[for], [type='radio'] + label[for] { cursor: pointer; }

label > [type='checkbox'], label > [type='radio'] { margin-right: 0.5rem; }

[type='file'] { width: 100%; }

label { display: block; margin: 0; font-size: 0.875rem; font-weight: normal; line-height: 1.8; color: #0a0a0a; }

label.middle { margin: 0 0 1rem; padding: 0.5625rem 0; }

.help-text { margin-top: -0.5rem; font-size: 0.8125rem; font-style: italic; color: #0a0a0a; }

.input-group { display: table; width: 100%; margin-bottom: 1rem; }

.input-group > :first-child { border-radius: 0 0 0 0; }

.input-group > :last-child > * { border-radius: 0 0 0 0; }

.input-group-label, .input-group-field, .input-group-button { margin: 0; white-space: nowrap; display: table-cell; vertical-align: middle; }

.input-group-label { text-align: center; padding: 0 1rem; background: #e6e6e6; color: #0a0a0a; border: 1px solid #cacaca; white-space: nowrap; width: 1%; height: 100%; }

.input-group-label:first-child { border-right: 0; }

.input-group-label:last-child { border-left: 0; }

.input-group-field { border-radius: 0; height: 2.5rem; }

.input-group-button { padding-top: 0; padding-bottom: 0; text-align: center; height: 100%; width: 1%; }

.input-group-button a, .input-group-button input, .input-group-button button { margin: 0; }

.input-group .input-group-button { display: table-cell; }

fieldset { border: 0; padding: 0; margin: 0; }

legend { margin-bottom: 0.5rem; max-width: 100%; }

.fieldset { border: 1px solid #cacaca; padding: 1.25rem; margin: 1.125rem 0; }

.fieldset legend { background: #fefefe; padding: 0 0.1875rem; margin: 0; margin-left: -0.1875rem; }

select { height: 2.4375rem; padding: 0.5rem; border: 1px solid #cacaca; margin: 0 0 1rem; font-size: 1rem; font-family: inherit; line-height: normal; color: #0a0a0a; background-color: #fefefe; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>"); background-size: 9px 6px; background-position: right -1rem center; background-origin: content-box; background-repeat: no-repeat; padding-right: 1.5rem; }

@media screen and (min-width: 0\0) { select { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg=="); } }

select:disabled { background-color: #e6e6e6; cursor: not-allowed; }

select::-ms-expand { display: none; }

select[multiple] { height: auto; background-image: none; }

.is-invalid-input:not(:focus) { background-color: rgba(236, 88, 64, 0.1); border-color: #ec5840; }

.is-invalid-label { color: #ec5840; }

.form-error { display: none; margin-top: -0.5rem; margin-bottom: 1rem; font-size: 0.75rem; font-weight: bold; color: #ec5840; }

.form-error.is-visible { display: block; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/** 1. Set default font family to sans-serif. 2. Prevent iOS and IE text size adjust after device orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background-color: transparent; }

/** Improve readability of focused elements when they are also in an active/hover state. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: not-allowed; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width. 1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome. */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ box-sizing: content-box; /* 2 */ }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. [NOTE] We don't enable this ruleset in Foundation, because we want the <fieldset> element to have plain styling. */
/* fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; } */
/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

.foundation-mq { font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em"; }

html { font-size: 100%; box-sizing: border-box; }

*, *::before, *::after { box-sizing: inherit; }

body { padding: 0; margin: 0; font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; font-weight: normal; line-height: 1.5; color: #0a0a0a; background: #fefefe; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

img { max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; display: inline-block; vertical-align: middle; }

textarea { height: auto; min-height: 50px; border-radius: 0; }

select { width: 100%; border-radius: 0; }

#map_canvas img, #map_canvas embed, #map_canvas object, .map_canvas img, .map_canvas embed, .map_canvas object, .mqa-display img, .mqa-display embed, .mqa-display object { max-width: none !important; }

button { -webkit-appearance: none; -moz-appearance: none; background: transparent; padding: 0; border: 0; border-radius: 0; line-height: 1; }

[data-whatinput='mouse'] button { outline: 0; }

.is-visible { display: block !important; }

.is-hidden { display: none !important; }

.row { max-width: 75rem; margin-left: auto; margin-right: auto; }

.row::before, .row::after { content: ' '; display: table; }

.row::after { clear: both; }

.row.collapse > .column, .row.collapse > .columns { padding-left: 0; padding-right: 0; }

.row .row { max-width: none; margin-left: -0.625rem; margin-right: -0.625rem; }

@media screen and (min-width: 40em) { .row .row { margin-left: -0.9375rem; margin-right: -0.9375rem; } }

.row .row.collapse { margin-left: 0; margin-right: 0; }

.row.expanded { max-width: none; }

.row.expanded .row { margin-left: auto; margin-right: auto; }

.column, .columns { width: 100%; float: left; padding-left: 0.625rem; padding-right: 0.625rem; }

@media screen and (min-width: 40em) { .column, .columns { padding-left: 0.9375rem; padding-right: 0.9375rem; } }

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) { float: right; }

.column.end:last-child:last-child, .end.columns:last-child:last-child { float: left; }

.column.row.row, .row.row.columns { float: none; }

.row .column.row.row, .row .row.row.columns { padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0; }

.small-1 { width: 8.33333%; }

.small-push-1 { position: relative; left: 8.33333%; }

.small-pull-1 { position: relative; left: -8.33333%; }

.small-offset-0 { margin-left: 0%; }

.small-2 { width: 16.66667%; }

.small-push-2 { position: relative; left: 16.66667%; }

.small-pull-2 { position: relative; left: -16.66667%; }

.small-offset-1 { margin-left: 8.33333%; }

.small-3 { width: 25%; }

.small-push-3 { position: relative; left: 25%; }

.small-pull-3 { position: relative; left: -25%; }

.small-offset-2 { margin-left: 16.66667%; }

.small-4 { width: 33.33333%; }

.small-push-4 { position: relative; left: 33.33333%; }

.small-pull-4 { position: relative; left: -33.33333%; }

.small-offset-3 { margin-left: 25%; }

.small-5 { width: 41.66667%; }

.small-push-5 { position: relative; left: 41.66667%; }

.small-pull-5 { position: relative; left: -41.66667%; }

.small-offset-4 { margin-left: 33.33333%; }

.small-6 { width: 50%; }

.small-push-6 { position: relative; left: 50%; }

.small-pull-6 { position: relative; left: -50%; }

.small-offset-5 { margin-left: 41.66667%; }

.small-7 { width: 58.33333%; }

.small-push-7 { position: relative; left: 58.33333%; }

.small-pull-7 { position: relative; left: -58.33333%; }

.small-offset-6 { margin-left: 50%; }

.small-8 { width: 66.66667%; }

.small-push-8 { position: relative; left: 66.66667%; }

.small-pull-8 { position: relative; left: -66.66667%; }

.small-offset-7 { margin-left: 58.33333%; }

.small-9 { width: 75%; }

.small-push-9 { position: relative; left: 75%; }

.small-pull-9 { position: relative; left: -75%; }

.small-offset-8 { margin-left: 66.66667%; }

.small-10 { width: 83.33333%; }

.small-push-10 { position: relative; left: 83.33333%; }

.small-pull-10 { position: relative; left: -83.33333%; }

.small-offset-9 { margin-left: 75%; }

.small-11 { width: 91.66667%; }

.small-push-11 { position: relative; left: 91.66667%; }

.small-pull-11 { position: relative; left: -91.66667%; }

.small-offset-10 { margin-left: 83.33333%; }

.small-12 { width: 100%; }

.small-offset-11 { margin-left: 91.66667%; }

.small-up-1 > .column, .small-up-1 > .columns { width: 100%; float: left; }

.small-up-1 > .column:nth-of-type(1n), .small-up-1 > .columns:nth-of-type(1n) { clear: none; }

.small-up-1 > .column:nth-of-type(1n+1), .small-up-1 > .columns:nth-of-type(1n+1) { clear: both; }

.small-up-1 > .column:last-child, .small-up-1 > .columns:last-child { float: left; }

.small-up-2 > .column, .small-up-2 > .columns { width: 50%; float: left; }

.small-up-2 > .column:nth-of-type(1n), .small-up-2 > .columns:nth-of-type(1n) { clear: none; }

.small-up-2 > .column:nth-of-type(2n+1), .small-up-2 > .columns:nth-of-type(2n+1) { clear: both; }

.small-up-2 > .column:last-child, .small-up-2 > .columns:last-child { float: left; }

.small-up-3 > .column, .small-up-3 > .columns { width: 33.33333%; float: left; }

.small-up-3 > .column:nth-of-type(1n), .small-up-3 > .columns:nth-of-type(1n) { clear: none; }

.small-up-3 > .column:nth-of-type(3n+1), .small-up-3 > .columns:nth-of-type(3n+1) { clear: both; }

.small-up-3 > .column:last-child, .small-up-3 > .columns:last-child { float: left; }

.small-up-4 > .column, .small-up-4 > .columns { width: 25%; float: left; }

.small-up-4 > .column:nth-of-type(1n), .small-up-4 > .columns:nth-of-type(1n) { clear: none; }

.small-up-4 > .column:nth-of-type(4n+1), .small-up-4 > .columns:nth-of-type(4n+1) { clear: both; }

.small-up-4 > .column:last-child, .small-up-4 > .columns:last-child { float: left; }

.small-up-5 > .column, .small-up-5 > .columns { width: 20%; float: left; }

.small-up-5 > .column:nth-of-type(1n), .small-up-5 > .columns:nth-of-type(1n) { clear: none; }

.small-up-5 > .column:nth-of-type(5n+1), .small-up-5 > .columns:nth-of-type(5n+1) { clear: both; }

.small-up-5 > .column:last-child, .small-up-5 > .columns:last-child { float: left; }

.small-up-6 > .column, .small-up-6 > .columns { width: 16.66667%; float: left; }

.small-up-6 > .column:nth-of-type(1n), .small-up-6 > .columns:nth-of-type(1n) { clear: none; }

.small-up-6 > .column:nth-of-type(6n+1), .small-up-6 > .columns:nth-of-type(6n+1) { clear: both; }

.small-up-6 > .column:last-child, .small-up-6 > .columns:last-child { float: left; }

.small-up-7 > .column, .small-up-7 > .columns { width: 14.28571%; float: left; }

.small-up-7 > .column:nth-of-type(1n), .small-up-7 > .columns:nth-of-type(1n) { clear: none; }

.small-up-7 > .column:nth-of-type(7n+1), .small-up-7 > .columns:nth-of-type(7n+1) { clear: both; }

.small-up-7 > .column:last-child, .small-up-7 > .columns:last-child { float: left; }

.small-up-8 > .column, .small-up-8 > .columns { width: 12.5%; float: left; }

.small-up-8 > .column:nth-of-type(1n), .small-up-8 > .columns:nth-of-type(1n) { clear: none; }

.small-up-8 > .column:nth-of-type(8n+1), .small-up-8 > .columns:nth-of-type(8n+1) { clear: both; }

.small-up-8 > .column:last-child, .small-up-8 > .columns:last-child { float: left; }

.small-collapse > .column, .small-collapse > .columns { padding-left: 0; padding-right: 0; }

.small-collapse .row, .expanded.row .small-collapse.row { margin-left: 0; margin-right: 0; }

.small-uncollapse > .column, .small-uncollapse > .columns { padding-left: 0.625rem; padding-right: 0.625rem; }

.small-centered { float: none; margin-left: auto; margin-right: auto; }

.small-uncentered, .small-push-0, .small-pull-0 { position: static; margin-left: 0; margin-right: 0; float: left; }

@media screen and (min-width: 40em) { .medium-1 { width: 8.33333%; }
		.medium-push-1 { position: relative; left: 8.33333%; }
		.medium-pull-1 { position: relative; left: -8.33333%; }
		.medium-offset-0 { margin-left: 0%; }
		.medium-2 { width: 16.66667%; }
		.medium-push-2 { position: relative; left: 16.66667%; }
		.medium-pull-2 { position: relative; left: -16.66667%; }
		.medium-offset-1 { margin-left: 8.33333%; }
		.medium-3 { width: 25%; }
		.medium-push-3 { position: relative; left: 25%; }
		.medium-pull-3 { position: relative; left: -25%; }
		.medium-offset-2 { margin-left: 16.66667%; }
		.medium-4 { width: 33.33333%; }
		.medium-push-4 { position: relative; left: 33.33333%; }
		.medium-pull-4 { position: relative; left: -33.33333%; }
		.medium-offset-3 { margin-left: 25%; }
		.medium-5 { width: 41.66667%; }
		.medium-push-5 { position: relative; left: 41.66667%; }
		.medium-pull-5 { position: relative; left: -41.66667%; }
		.medium-offset-4 { margin-left: 33.33333%; }
		.medium-6 { width: 50%; }
		.medium-push-6 { position: relative; left: 50%; }
		.medium-pull-6 { position: relative; left: -50%; }
		.medium-offset-5 { margin-left: 41.66667%; }
		.medium-7 { width: 58.33333%; }
		.medium-push-7 { position: relative; left: 58.33333%; }
		.medium-pull-7 { position: relative; left: -58.33333%; }
		.medium-offset-6 { margin-left: 50%; }
		.medium-8 { width: 66.66667%; }
		.medium-push-8 { position: relative; left: 66.66667%; }
		.medium-pull-8 { position: relative; left: -66.66667%; }
		.medium-offset-7 { margin-left: 58.33333%; }
		.medium-9 { width: 75%; }
		.medium-push-9 { position: relative; left: 75%; }
		.medium-pull-9 { position: relative; left: -75%; }
		.medium-offset-8 { margin-left: 66.66667%; }
		.medium-10 { width: 83.33333%; }
		.medium-push-10 { position: relative; left: 83.33333%; }
		.medium-pull-10 { position: relative; left: -83.33333%; }
		.medium-offset-9 { margin-left: 75%; }
		.medium-11 { width: 91.66667%; }
		.medium-push-11 { position: relative; left: 91.66667%; }
		.medium-pull-11 { position: relative; left: -91.66667%; }
		.medium-offset-10 { margin-left: 83.33333%; }
		.medium-12 { width: 100%; }
		.medium-offset-11 { margin-left: 91.66667%; }
		.medium-up-1 > .column, .medium-up-1 > .columns { width: 100%; float: left; }
		.medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) { clear: none; }
		.medium-up-1 > .column:nth-of-type(1n+1), .medium-up-1 > .columns:nth-of-type(1n+1) { clear: both; }
		.medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child { float: left; }
		.medium-up-2 > .column, .medium-up-2 > .columns { width: 50%; float: left; }
		.medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) { clear: none; }
		.medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) { clear: both; }
		.medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child { float: left; }
		.medium-up-3 > .column, .medium-up-3 > .columns { width: 33.33333%; float: left; }
		.medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) { clear: none; }
		.medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) { clear: both; }
		.medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child { float: left; }
		.medium-up-4 > .column, .medium-up-4 > .columns { width: 25%; float: left; }
		.medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) { clear: none; }
		.medium-up-4 > .column:nth-of-type(4n+1), .medium-up-4 > .columns:nth-of-type(4n+1) { clear: both; }
		.medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child { float: left; }
		.medium-up-5 > .column, .medium-up-5 > .columns { width: 20%; float: left; }
		.medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) { clear: none; }
		.medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) { clear: both; }
		.medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child { float: left; }
		.medium-up-6 > .column, .medium-up-6 > .columns { width: 16.66667%; float: left; }
		.medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) { clear: none; }
		.medium-up-6 > .column:nth-of-type(6n+1), .medium-up-6 > .columns:nth-of-type(6n+1) { clear: both; }
		.medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child { float: left; }
		.medium-up-7 > .column, .medium-up-7 > .columns { width: 14.28571%; float: left; }
		.medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) { clear: none; }
		.medium-up-7 > .column:nth-of-type(7n+1), .medium-up-7 > .columns:nth-of-type(7n+1) { clear: both; }
		.medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child { float: left; }
		.medium-up-8 > .column, .medium-up-8 > .columns { width: 12.5%; float: left; }
		.medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) { clear: none; }
		.medium-up-8 > .column:nth-of-type(8n+1), .medium-up-8 > .columns:nth-of-type(8n+1) { clear: both; }
		.medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child { float: left; }
		.medium-collapse > .column, .medium-collapse > .columns { padding-left: 0; padding-right: 0; }
		.medium-collapse .row, .expanded.row .medium-collapse.row { margin-left: 0; margin-right: 0; }
		.medium-uncollapse > .column, .medium-uncollapse > .columns { padding-left: 0.9375rem; padding-right: 0.9375rem; }
		.medium-centered { float: none; margin-left: auto; margin-right: auto; }
		.medium-uncentered, .medium-push-0, .medium-pull-0 { position: static; margin-left: 0; margin-right: 0; float: left; } }

@media screen and (min-width: 64em) { .large-1 { width: 8.33333%; }
		.large-push-1 { position: relative; left: 8.33333%; }
		.large-pull-1 { position: relative; left: -8.33333%; }
		.large-offset-0 { margin-left: 0%; }
		.large-2 { width: 16.66667%; }
		.large-push-2 { position: relative; left: 16.66667%; }
		.large-pull-2 { position: relative; left: -16.66667%; }
		.large-offset-1 { margin-left: 8.33333%; }
		.large-3 { width: 25%; }
		.large-push-3 { position: relative; left: 25%; }
		.large-pull-3 { position: relative; left: -25%; }
		.large-offset-2 { margin-left: 16.66667%; }
		.large-4 { width: 33.33333%; }
		.large-push-4 { position: relative; left: 33.33333%; }
		.large-pull-4 { position: relative; left: -33.33333%; }
		.large-offset-3 { margin-left: 25%; }
		.large-5 { width: 41.66667%; }
		.large-push-5 { position: relative; left: 41.66667%; }
		.large-pull-5 { position: relative; left: -41.66667%; }
		.large-offset-4 { margin-left: 33.33333%; }
		.large-6 { width: 50%; }
		.large-push-6 { position: relative; left: 50%; }
		.large-pull-6 { position: relative; left: -50%; }
		.large-offset-5 { margin-left: 41.66667%; }
		.large-7 { width: 58.33333%; }
		.large-push-7 { position: relative; left: 58.33333%; }
		.large-pull-7 { position: relative; left: -58.33333%; }
		.large-offset-6 { margin-left: 50%; }
		.large-8 { width: 66.66667%; }
		.large-push-8 { position: relative; left: 66.66667%; }
		.large-pull-8 { position: relative; left: -66.66667%; }
		.large-offset-7 { margin-left: 58.33333%; }
		.large-9 { width: 75%; }
		.large-push-9 { position: relative; left: 75%; }
		.large-pull-9 { position: relative; left: -75%; }
		.large-offset-8 { margin-left: 66.66667%; }
		.large-10 { width: 83.33333%; }
		.large-push-10 { position: relative; left: 83.33333%; }
		.large-pull-10 { position: relative; left: -83.33333%; }
		.large-offset-9 { margin-left: 75%; }
		.large-11 { width: 91.66667%; }
		.large-push-11 { position: relative; left: 91.66667%; }
		.large-pull-11 { position: relative; left: -91.66667%; }
		.large-offset-10 { margin-left: 83.33333%; }
		.large-12 { width: 100%; }
		.large-offset-11 { margin-left: 91.66667%; }
		.large-up-1 > .column, .large-up-1 > .columns { width: 100%; float: left; }
		.large-up-1 > .column:nth-of-type(1n), .large-up-1 > .columns:nth-of-type(1n) { clear: none; }
		.large-up-1 > .column:nth-of-type(1n+1), .large-up-1 > .columns:nth-of-type(1n+1) { clear: both; }
		.large-up-1 > .column:last-child, .large-up-1 > .columns:last-child { float: left; }
		.large-up-2 > .column, .large-up-2 > .columns { width: 50%; float: left; }
		.large-up-2 > .column:nth-of-type(1n), .large-up-2 > .columns:nth-of-type(1n) { clear: none; }
		.large-up-2 > .column:nth-of-type(2n+1), .large-up-2 > .columns:nth-of-type(2n+1) { clear: both; }
		.large-up-2 > .column:last-child, .large-up-2 > .columns:last-child { float: left; }
		.large-up-3 > .column, .large-up-3 > .columns { width: 33.33333%; float: left; }
		.large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) { clear: none; }
		.large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) { clear: both; }
		.large-up-3 > .column:last-child, .large-up-3 > .columns:last-child { float: left; }
		.large-up-4 > .column, .large-up-4 > .columns { width: 25%; float: left; }
		.large-up-4 > .column:nth-of-type(1n), .large-up-4 > .columns:nth-of-type(1n) { clear: none; }
		.large-up-4 > .column:nth-of-type(4n+1), .large-up-4 > .columns:nth-of-type(4n+1) { clear: both; }
		.large-up-4 > .column:last-child, .large-up-4 > .columns:last-child { float: left; }
		.large-up-5 > .column, .large-up-5 > .columns { width: 20%; float: left; }
		.large-up-5 > .column:nth-of-type(1n), .large-up-5 > .columns:nth-of-type(1n) { clear: none; }
		.large-up-5 > .column:nth-of-type(5n+1), .large-up-5 > .columns:nth-of-type(5n+1) { clear: both; }
		.large-up-5 > .column:last-child, .large-up-5 > .columns:last-child { float: left; }
		.large-up-6 > .column, .large-up-6 > .columns { width: 16.66667%; float: left; }
		.large-up-6 > .column:nth-of-type(1n), .large-up-6 > .columns:nth-of-type(1n) { clear: none; }
		.large-up-6 > .column:nth-of-type(6n+1), .large-up-6 > .columns:nth-of-type(6n+1) { clear: both; }
		.large-up-6 > .column:last-child, .large-up-6 > .columns:last-child { float: left; }
		.large-up-7 > .column, .large-up-7 > .columns { width: 14.28571%; float: left; }
		.large-up-7 > .column:nth-of-type(1n), .large-up-7 > .columns:nth-of-type(1n) { clear: none; }
		.large-up-7 > .column:nth-of-type(7n+1), .large-up-7 > .columns:nth-of-type(7n+1) { clear: both; }
		.large-up-7 > .column:last-child, .large-up-7 > .columns:last-child { float: left; }
		.large-up-8 > .column, .large-up-8 > .columns { width: 12.5%; float: left; }
		.large-up-8 > .column:nth-of-type(1n), .large-up-8 > .columns:nth-of-type(1n) { clear: none; }
		.large-up-8 > .column:nth-of-type(8n+1), .large-up-8 > .columns:nth-of-type(8n+1) { clear: both; }
		.large-up-8 > .column:last-child, .large-up-8 > .columns:last-child { float: left; }
		.large-collapse > .column, .large-collapse > .columns { padding-left: 0; padding-right: 0; }
		.large-collapse .row, .expanded.row .large-collapse.row { margin-left: 0; margin-right: 0; }
		.large-uncollapse > .column, .large-uncollapse > .columns { padding-left: 0.9375rem; padding-right: 0.9375rem; }
		.large-centered { float: none; margin-left: auto; margin-right: auto; }
		.large-uncentered, .large-push-0, .large-pull-0 { position: static; margin-left: 0; margin-right: 0; float: left; } }

.menu { margin: 0; list-style-type: none; }

.menu > li { display: table-cell; vertical-align: middle; }

[data-whatinput='mouse'] .menu > li { outline: 0; }

.menu > li > a { display: block; padding: 0.7rem 1rem; line-height: 1; }

.menu input, .menu a, .menu button { margin-bottom: 0; }

.menu > li > a img, .menu > li > a i, .menu > li > a svg { vertical-align: middle; }

.menu > li > a img + span, .menu > li > a i + span, .menu > li > a svg + span { vertical-align: middle; }

.menu > li > a img, .menu > li > a i, .menu > li > a svg { margin-right: 0.25rem; display: inline-block; }

.menu > li { display: table-cell; }

.menu.vertical > li { display: block; }

@media screen and (min-width: 40em) { .menu.medium-horizontal > li { display: table-cell; }
		.menu.medium-vertical > li { display: block; } }

@media screen and (min-width: 64em) { .menu.large-horizontal > li { display: table-cell; }
		.menu.large-vertical > li { display: block; } }

.menu.simple li { line-height: 1; display: inline-block; margin-right: 1rem; }

.menu.simple a { padding: 0; }

.menu.align-right::before, .menu.align-right::after { content: ' '; display: table; }

.menu.align-right::after { clear: both; }

.menu.align-right > li { float: right; }

.menu.expanded { width: 100%; display: table; table-layout: fixed; }

.menu.expanded > li:first-child:last-child { width: 100%; }

.menu.icon-top > li > a { text-align: center; }

.menu.icon-top > li > a img, .menu.icon-top > li > a i, .menu.icon-top > li > a svg { display: block; margin: 0 auto 0.25rem; }

.menu.nested { margin-left: 1rem; }

.menu .active > a { color: #fefefe; background: #2199e8; }

.menu-text { font-weight: bold; color: inherit; line-height: 1; padding-top: 0; padding-bottom: 0; padding: 0.7rem 1rem; }

.menu-centered { text-align: center; }

.menu-centered > .menu { display: inline-block; }

.no-js [data-responsive-menu] ul { display: none; }

.menu-icon { position: relative; display: inline-block; vertical-align: middle; cursor: pointer; width: 20px; height: 16px; }

.menu-icon::after { content: ''; position: absolute; display: block; width: 100%; height: 2px; background: #fefefe; top: 0; left: 0; box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe; }

.menu-icon:hover::after { background: #cacaca; box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca; }

.menu-icon.dark { position: relative; display: inline-block; vertical-align: middle; cursor: pointer; width: 20px; height: 16px; }

.menu-icon.dark::after { content: ''; position: absolute; display: block; width: 100%; height: 2px; background: #0a0a0a; top: 0; left: 0; box-shadow: 0 7px 0 #0a0a0a, 0 14px 0 #0a0a0a; }

.menu-icon.dark:hover::after { background: #8a8a8a; box-shadow: 0 7px 0 #8a8a8a, 0 14px 0 #8a8a8a; }

.title-bar { background: #0a0a0a; color: #fefefe; padding: 0.5rem; }

.title-bar::before, .title-bar::after { content: ' '; display: table; }

.title-bar::after { clear: both; }

.title-bar .menu-icon { margin-left: 0.25rem; margin-right: 0.25rem; }

.title-bar-left { float: left; }

.title-bar-right { float: right; text-align: right; }

.title-bar-title { font-weight: bold; vertical-align: middle; display: inline-block; }

.menu-icon.dark { position: relative; display: inline-block; vertical-align: middle; cursor: pointer; width: 20px; height: 16px; }

.menu-icon.dark::after { content: ''; position: absolute; display: block; width: 100%; height: 2px; background: #0a0a0a; top: 0; left: 0; box-shadow: 0 7px 0 #0a0a0a, 0 14px 0 #0a0a0a; }

.menu-icon.dark:hover::after { background: #8a8a8a; box-shadow: 0 7px 0 #8a8a8a, 0 14px 0 #8a8a8a; }

.thumbnail { border: solid 4px #fefefe; box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2); display: inline-block; line-height: 0; max-width: 100%; transition: box-shadow 200ms ease-out; border-radius: 0; margin-bottom: 1rem; }

.thumbnail:hover, .thumbnail:focus { box-shadow: 0 0 6px 1px rgba(33, 153, 232, 0.5); }

.has-tip { border-bottom: dotted 1px #8a8a8a; font-weight: bold; position: relative; display: inline-block; cursor: help; }

.tooltip { background-color: #0a0a0a; color: #fefefe; font-size: 80%; padding: 0.75rem; position: absolute; z-index: 10; top: calc(100% + 0.6495rem); max-width: 10rem !important; border-radius: 0; }

.tooltip::before { content: ''; display: block; width: 0; height: 0; border: inset 0.75rem; border-color: transparent transparent #0a0a0a; border-bottom-style: solid; border-top-width: 0; bottom: 100%; position: absolute; left: 50%; transform: translateX(-50%); }

.tooltip.top::before { content: ''; display: block; width: 0; height: 0; border: inset 0.75rem; border-color: #0a0a0a transparent transparent; border-top-style: solid; border-bottom-width: 0; top: 100%; bottom: auto; }

.tooltip.left::before { content: ''; display: block; width: 0; height: 0; border: inset 0.75rem; border-color: transparent transparent transparent #0a0a0a; border-left-style: solid; border-right-width: 0; bottom: auto; left: 100%; top: 50%; transform: translateY(-50%); }

.tooltip.right::before { content: ''; display: block; width: 0; height: 0; border: inset 0.75rem; border-color: transparent #0a0a0a transparent transparent; border-right-style: solid; border-left-width: 0; bottom: auto; left: auto; right: 100%; top: 50%; transform: translateY(-50%); }

.top-bar { padding: 0.5rem; }

.top-bar::before, .top-bar::after { content: ' '; display: table; }

.top-bar::after { clear: both; }

.top-bar, .top-bar ul { background-color: #e6e6e6; }

.top-bar input { max-width: 200px; margin-right: 1rem; }

.top-bar .input-group-field { width: 100%; margin-right: 0; }

.top-bar input.button { width: auto; }

.top-bar .top-bar-left, .top-bar .top-bar-right { width: 100%; }

@media screen and (min-width: 40em) { .top-bar .top-bar-left, .top-bar .top-bar-right { width: auto; } }

@media screen and (max-width: 63.9375em) { .top-bar.stacked-for-medium .top-bar-left, .top-bar.stacked-for-medium .top-bar-right { width: 100%; } }

@media screen and (max-width: 74.9375em) { .top-bar.stacked-for-large .top-bar-left, .top-bar.stacked-for-large .top-bar-right { width: 100%; } }

.top-bar-title { float: left; margin-right: 1rem; }

.top-bar-left { float: left; }

.top-bar-right { float: right; }

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { margin: 0; padding: 0; }

p { font-size: inherit; line-height: 1.6; margin-bottom: 1rem; text-rendering: optimizeLegibility; }

em, i { font-style: italic; line-height: inherit; }

strong, b { font-weight: bold; line-height: inherit; }

small { font-size: 80%; line-height: inherit; }

h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; font-weight: normal; font-style: normal; color: inherit; text-rendering: optimizeLegibility; margin-top: 0; margin-bottom: 0.5rem; line-height: 1.4; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { color: #cacaca; line-height: 0; }

h1 { font-size: 1.5rem; }

h2 { font-size: 1.25rem; }

h3 { font-size: 1.1875rem; }

h4 { font-size: 1.125rem; }

h5 { font-size: 1.0625rem; }

h6 { font-size: 1rem; }

@media screen and (min-width: 40em) { h1 { font-size: 3rem; }
		h2 { font-size: 2.5rem; }
		h3 { font-size: 1.9375rem; }
		h4 { font-size: 1.5625rem; }
		h5 { font-size: 1.25rem; }
		h6 { font-size: 1rem; } }

a { color: #2199e8; text-decoration: none; line-height: inherit; cursor: pointer; }

a:hover, a:focus { color: #1585cf; }

a img { border: 0; }

hr { max-width: 75rem; height: 0; border-right: 0; border-top: 0; border-bottom: 1px solid #cacaca; border-left: 0; margin: 1.25rem auto; clear: both; }

ul, ol, dl { line-height: 1.6; margin-bottom: 1rem; list-style-position: outside; }

li { font-size: inherit; }

ul { list-style-type: disc; margin-left: 1.25rem; }

ol { margin-left: 1.25rem; }

ul ul, ol ul, ul ol, ol ol { margin-left: 1.25rem; margin-bottom: 0; }

dl { margin-bottom: 1rem; }

dl dt { margin-bottom: 0.3rem; font-weight: bold; }

blockquote { margin: 0 0 1rem; padding: 0.5625rem 1.25rem 0 1.1875rem; border-left: 1px solid #cacaca; }

blockquote, blockquote p { line-height: 1.6; color: #8a8a8a; }

cite { display: block; font-size: 0.8125rem; color: #8a8a8a; }

cite:before { content: '\2014 \0020'; }

abbr { color: #0a0a0a; cursor: help; border-bottom: 1px dotted #0a0a0a; }

code { font-family: Consolas, "Liberation Mono", Courier, monospace; font-weight: normal; color: #0a0a0a; background-color: #e6e6e6; border: 1px solid #cacaca; padding: 0.125rem 0.3125rem 0.0625rem; }

kbd { padding: 0.125rem 0.25rem 0; margin: 0; background-color: #e6e6e6; color: #0a0a0a; font-family: Consolas, "Liberation Mono", Courier, monospace; }

.subheader { margin-top: 0.2rem; margin-bottom: 0.5rem; font-weight: normal; line-height: 1.4; color: #8a8a8a; }

.lead { font-size: 125%; line-height: 1.6; }

.stat { font-size: 2.5rem; line-height: 1; }

p + .stat { margin-top: -1rem; }

.no-bullet { margin-left: 0; list-style: none; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.text-justify { text-align: justify; }

@media screen and (min-width: 40em) { .medium-text-left { text-align: left; }
		.medium-text-right { text-align: right; }
		.medium-text-center { text-align: center; }
		.medium-text-justify { text-align: justify; } }

@media screen and (min-width: 64em) { .large-text-left { text-align: left; }
		.large-text-right { text-align: right; }
		.large-text-center { text-align: center; }
		.large-text-justify { text-align: justify; } }

.show-for-print { display: none !important; }

@media print { * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; }
		.show-for-print { display: block !important; }
		.hide-for-print { display: none !important; }
		table.show-for-print { display: table !important; }
		thead.show-for-print { display: table-header-group !important; }
		tbody.show-for-print { display: table-row-group !important; }
		tr.show-for-print { display: table-row !important; }
		td.show-for-print { display: table-cell !important; }
		th.show-for-print { display: table-cell !important; }
		a, a:visited { text-decoration: underline; }
		a[href]:after { content: " (" attr(href) ")"; }
		.ir a:after, a[href^='javascript:']:after, a[href^='#']:after { content: ''; }
		abbr[title]:after { content: " (" attr(title) ")"; }
		pre, blockquote { border: 1px solid #8a8a8a; page-break-inside: avoid; }
		thead { display: table-header-group; }
		tr, img { page-break-inside: avoid; }
		img { max-width: 100% !important; }
		@page { margin: 0.5cm; }
		p, h2, h3 { orphans: 3; widows: 3; }
		h2, h3 { page-break-after: avoid; } }

.hide { display: none !important; }

.invisible { visibility: hidden; }

@media screen and (max-width: 39.9375em) { .hide-for-small-only { display: none !important; } }

@media screen and (max-width: 0em), screen and (min-width: 40em) { .show-for-small-only { display: none !important; } }

@media screen and (min-width: 40em) { .hide-for-medium { display: none !important; } }

@media screen and (max-width: 39.9375em) { .show-for-medium { display: none !important; } }

@media screen and (min-width: 40em) and (max-width: 63.9375em) { .hide-for-medium-only { display: none !important; } }

@media screen and (max-width: 39.9375em), screen and (min-width: 64em) { .show-for-medium-only { display: none !important; } }

@media screen and (min-width: 64em) { .hide-for-large { display: none !important; } }

@media screen and (max-width: 63.9375em) { .show-for-large { display: none !important; } }

@media screen and (min-width: 64em) and (max-width: 74.9375em) { .hide-for-large-only { display: none !important; } }

@media screen and (max-width: 63.9375em), screen and (min-width: 75em) { .show-for-large-only { display: none !important; } }

.show-for-sr, .show-on-focus { position: absolute !important; width: 1px; height: 1px; overflow: hidden; clip: rect(0, 0, 0, 0); }

.show-on-focus:active, .show-on-focus:focus { position: static !important; height: auto; width: auto; overflow: visible; clip: auto; }

.show-for-landscape, .hide-for-portrait { display: block !important; }

@media screen and (orientation: landscape) { .show-for-landscape, .hide-for-portrait { display: block !important; } }

@media screen and (orientation: portrait) { .show-for-landscape, .hide-for-portrait { display: none !important; } }

.hide-for-landscape, .show-for-portrait { display: none !important; }

@media screen and (orientation: landscape) { .hide-for-landscape, .show-for-portrait { display: none !important; } }

@media screen and (orientation: portrait) { .hide-for-landscape, .show-for-portrait { display: block !important; } }

.has-error [type="color"], .has-error [type="date"], .has-error [type="datetime-local"], .has-error [type="datetime"], .has-error [type="email"], .has-error [type="month"], .has-error [type="number"], .has-error [type="password"], .has-error [type="search"], .has-error [type="tel"], .has-error [type="text"], .has-error [type="time"], .has-error [type="url"], .has-error [type="week"], .has-error textarea, .has-error label, .has-error .help-text { border-color: #ec5840; color: #ec5840; }

.has-error label { font-weight: bold; }

.menu > li > a.avatar { padding-top: 0; padding-bottom: 0; }

.account { margin-top: .5rem; }
